@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Variables */

:root {
    --font-sora: "Sora", sans-serif;

    --neutral-900: #121212;
    --neutral-800: #262626;
    --neutral-700: #3A3A3A;
    --neutral-500: #717178;
    --neutral-400: #949497;
    --neutral-0: #FFFFFF;
    --blue-600: #177DFF;
    --blue-400: #4CA6FF;
    --red-500: #D64D5B;
    --green-500: #4DD67B;
    --yellow-400: #F4DC73;

    --spacing-0: 0;
    --spacing-25: 2px;
    --spacing-50: 4px;
    --spacing-75: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 140px;
}

/* Typography */

body {
    font-family: var(--font-sora);
}

.text-preset-2 {
    font-family: var(--font-sora);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @media screen and (min-width: 768px) {
        /* none */
    }
}

.text-preset-3 {
    font-family: var(--font-sora);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.03rem;

    @media screen and (min-width: 768px) {
        font-size: 1.25rem;
        letter-spacing: -0.0375rem;
    }
}

.text-preset-4 {
    @media screen and (min-width: 768px) {
        font-family: var(--font-sora);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.0375rem;

        @media screen and (min-width: 1200px) {
            /* None */
        }
    }
}

.text-preset-5 {
    font-family: var(--font-sora);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.03rem;
}

/* Main styles */

body {
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-400);

    background-color: var(--neutral-900);

    @media screen and (min-width: 768px) {
        padding: var(--spacing-400) var(--spacing-400) var(--spacing-500);

        @media screen and (min-width: 1200px) {
            padding: var(--spacing-400) var(--spacing-1400);
        }
    }
}

main {
    position: relative;

    margin-top: 64px;

    @media screen and (min-width: 768px) {
        margin-top: 79px;

        @media screen and (min-width: 1200px) {
            margin-top: 107px;
        }
    }
}

/* Site header */

.site-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 48px;
    padding: var(--spacing-200) var(--spacing-200) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 71px;
        padding: var(--spacing-400) var(--spacing-400) 0;

        @media screen and (min-width: 1200px) {
            padding: var(--spacing-400) var(--spacing-1400) 0;
        }
    }

    .site-header-right {
        .content-wrapper {
            display: flex;
            align-items: center;
            gap: var(--spacing-125);

            .best-score-mobile {
                color: var(--neutral-400);

                @media screen and (min-width: 768px) {
                    display: none;
                }

                span {
                    color: var(--neutral-0);
                }
            }

            .best-score {
                display: none;

                color: var(--neutral-400);

                @media screen and (min-width: 768px) {
                    display: block;
                }

                span {
                    color: var(--neutral-0);
                }
            }
        }
    }
}

/* Screen */

section {
    color: white;
    /*temp*/
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

/* Screen Typing speed test */

.screen.typing-speed-test {
    width: 100%;

    .game-info {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-250);

        @media screen and (min-width: 768px) {
            gap: var(--spacing-200);

            @media screen and (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                gap: 138px;
            }
        }

        .game-info-score {
            height: 51px;

            display: flex;
            justify-content: space-between;

            @media screen and (min-width: 768px) {
                width: 68.75%;
                height: 24px;

                justify-content: flex-start;

                @media screen and (min-width: 1200px) {
                    width: unset;
                    flex-basis: 0;
                    flex-grow: 484;
                }
            }

            &>* {
                position: relative;

                flex-basis: 0;
                display: flex;
                flex-direction: column;

                border-right: 1px solid var(--neutral-700);

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                }

                &:last-of-type {
                    border-right: none;
                }

                p {
                    width: 100%;
                    max-width: 87px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacing-100);

                    color: var(--neutral-400);

                    @media screen and (min-width: 768px) {
                        max-width: unset;

                        flex-direction: row;
                        gap: var(--spacing-150);
                    }
                }
            }

            .wpm {
                flex-grow: 107;

                @media screen and (min-width: 768px) {
                    flex-grow: 127;
                }

                p {
                    align-self: flex-start;

                    span {
                        color: var(--neutral-0);
                    }
                }
            }

            .accuracy {
                flex-grow: 127;

                @media screen and (min-width: 768px) {
                    flex-grow: 209;
                }

                p {
                    align-self: center;

                    @media screen and (min-width: 768px) {
                        justify-self: center;
                        justify-content: center;
                    }

                    span {
                        color: var(--red-500);
                    }
                }
            }

            .time {
                flex-grow: 107;

                @media screen and (min-width: 768px) {
                    flex-grow: 146;
                }

                p {
                    align-self: flex-end;

                    @media screen and (min-width: 768px) {
                        justify-content: flex-end;
                    }

                    span {
                        color: var(--yellow-400);
                    }
                }
            }
        }

        .game-info-settings {
            height: 31px;

            display: flex;
            gap: var(--spacing-125);

            @media screen and (min-width: 768px) {
                @media screen and (min-width: 1200px) {
                    flex-basis: 0;
                    flex-grow: 594;
                }
            }

            &>* {
                width: 50%;
            }

            fieldset {
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid var(--neutral-500);
                border-radius: 8px;

                legend {
                    display: none;
                }

                details {
                    summary {
                        list-style: none;

                        display: flex;
                        gap: var(--spacing-125);
                    }

                    .difficulty-options-wrapper,
                    .mode-options-wrapper {
                        position: absolute;
                        top: 38px;
                        left: 50%;
                        transform: translateX(-50%);

                        width: 100%;

                        display: flex;
                        flex-direction: column;

                        border-radius: 8px;
                        background-color: var(--neutral-800);

                        .difficulty-option,
                        .mode-option {
                            position: relative;

                            height: 37px;
                            padding-left: var(--spacing-125);

                            display: flex;
                            align-items: center;
                            gap: var(--spacing-150);

                            border-bottom: 1px solid var(--neutral-700);

                            &:last-of-type {
                                border-bottom: none;
                            }

                            &::before {
                                content: "";

                                position: absolute;
                                top: 50%;
                                left: var(--spacing-125);
                                transform: translateY(-50%);

                                width: 16px;
                                height: 16px;

                                border: 1px solid var(--neutral-0);
                                border-radius: 50%;
                                transition: border .3s ease-in-out;
                            }

                            &:has(input:checked)::before {
                                border: 5px solid var(--blue-400);
                            }

                            input {
                                width: 16px;
                                height: 16px;

                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Screen Results - Test complete */

/* Screen Results - New personal best */

/* Screen Results - First test */