@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora/static/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Variables */

:root {
    --font-sora: "Sora", sans-serif;

    --neutral-900: #121212;
    --neutral-800: #262626;
    --neutral-500: #717178;
    --neutral-400: #949497;
    --neutral-0: #FFFFFF;
    --blue-600: #177DFF;
    --blue-400: #4CA6FF;
    --red-500: #D64D5B;
    --green-500: #4DD67B;
    --yellow-400: #F4DC73;

    --spacing-0: 0;
    --spacing-25: 2px;
    --spacing-50: 4px;
    --spacing-75: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1400: 112px;
    --spacing-1600: 128px;
    --spacing-1800: 140px;
}

/* Typography */

body {
    font-family: var(--font-sora);
}

.text-preset-3 {
    font-family: var(--font-sora);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.03rem;
}

.text-preset-4 {
    @media screen and (min-width: 768px) {
        font-family: var(--font-sora);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.0375rem;

        @media screen and (min-width: 1200px) {
            /* None */
        }
    }
}

/* Main styles */

body {
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-400);

    background-color: var(--neutral-900);

    @media screen and (min-width: 768px) {
        padding: var(--spacing-400) var(--spacing-400) var(--spacing-500);

        @media screen and (min-width: 1200px) {
            padding: var(--spacing-400) var(--spacing-1400);
        }
    }
}

main {
    position: relative;

    margin-top: 64px;

    @media screen and (min-width: 768px) {
        margin-top: 79px;

        @media screen and (min-width: 1200px) {
            margin-top: 107px;
        }
    }
}

/* Site header */

.site-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 48px;
    padding: var(--spacing-200) var(--spacing-200) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: 71px;
        padding: var(--spacing-400) var(--spacing-400) 0;

        @media screen and (min-width: 1200px) {
            padding: var(--spacing-400) var(--spacing-1400) 0;
        }
    }

    .site-header-right {
        .content-wrapper {
            display: flex;
            align-items: center;
            gap: var(--spacing-125);

            .best-score-mobile {
                color: var(--neutral-400);

                @media screen and (min-width: 768px) {
                    display: none;
                }

                span {
                    color: var(--neutral-0);
                }
            }

            .best-score {
                display: none;

                color: var(--neutral-400);

                @media screen and (min-width: 768px) {
                    display: block;
                }

                span {
                    color: var(--neutral-0);
                }
            }
        }
    }
}

/* Screen */

section {
    color: white; /*temp*/
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

/* Screen Typing speed test */

.screen.typing-speed-test {
    width: 100%;

    .game-info {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-250);

        @media screen and (min-width: 768px) {
            gap: var(--spacing-200);

            @media screen and (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                gap: unset;
            }
        }

        .game-info-score {
            border: 1px solid red;
            height: 51px;

            display: flex;

            @media screen and (min-width: 768px) {
                height: 24px;
            }

            &>* {
                display: flex;
                flex-direction: column;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                }
            }
        }

        .game-info-settings {
            display: flex;
        }
    }
}

/* Screen Results - Test complete */

/* Screen Results - New personal best */

/* Screen Results - First test */
